<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/static/css/head.css">
    <title>Document</title>

</head>
<body>
    <div class="head_container content-center">
        <div class="logo">
            <img src="/static/images/quick_logo.png" alt="" style="height: 2rem;">
        </div>
        <div class="searchbar">
            <form action="">
                <input  type="text"class="searchID" id="searchID" placeholder="Search for Topics">
            </form>
        </div>
        <div class="auth " id="auth">
            
            <!-- <a href="/auth/login"><button class="btn_auth btn_outline" >Log in</button></a> -->
        </div>
    </div>
    <%if(Valid_Loggedin){%>
        <script>
            document.getElementById("auth").innerHTML=`
            <a href="/auth/logout"><button class="btn_auth btn_outline" >Log out</button></a>`
        </script>
    <%} else {%>
        <script>
            document.getElementById("auth").innerHTML=`
            <a href="/auth/login"><button class="btn_auth btn_outline" >Log in</button></a>`
        </script>
    <%}%>    
</body>
</html>