<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/leftSideNav.css">
    <title>Document</title>
</head>
<body >
    <div class="leftSideNavBar">
        <div style="height: 2rem;"></div>
        <button class="left_nav_btn_outline left_nav_active"  id="nav_home_btn">Home </button>
        <button class="left_nav_btn_outline" id="nav_my_questions_btn"> My Questions </button>

    </div>

    <script src="/static/js/home.js"></script>
</body>
</html>