<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/leftSideNav.css">
    <title>Document</title>
</head>
<body >
    <div class="leftSideNavBar">
        <!-- <div style="height: 2rem;"></div> -->
        <div class="nav_item left_nav_active" id="nav_home_btn"> 
            <div class="left_border "></div>
            <button class="left_nav_btn_outline "  > Home  </button>
          
        </div>
        <div class="nav_item " id="nav_my_questions_btn">
            <div class="left_border"></div>
            <button class="left_nav_btn_outline" > My Questions </button>
            
        </div>

    </div>

    <script src="/static/js/home.js"></script>
</body>
</html>