<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/ae58226b21.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <style>
        .body{
            margin: 0px 0px;
        }
        .root_container{
            background-color: lightgray;
            
        }
       
    </style>

    <div class="root_container">

        <%- body%>
    </div>
</body>
</html>