<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/ae58226b21.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="top_root_container">
        <%- include('../partials/HeadBar.ejs') %>
    </div>

    <div class="bottom_root_container">
        <div class="left_container">
            <!-- <div style="height: 3rem;"></div> -->
            <%- include('../partials/LeftSideNav.ejs') %>
        </div>
        <div class="middle_container">
            <%- body%>
        </div>
        <div class="right_container">
            <%- include('../partials/RightSideContainer.ejs') %>
        </div>

    </div>
</body>
</html>