<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/auth.css">
    <script src="https://kit.fontawesome.com/ae58226b21.js" crossorigin="anonymous"></script>
</head>
<body>
    <style>
       .box_pattern{
           right: 0px;
        }
       .shape_sm,.shape_md,.shape_lg{
           transform: rotate(-5deg);
       }
       .card_pattern{
        background-image: linear-gradient(215deg,
        hsl(140,40%,55%) 75%, #fff);
       } 
    </style>
    <div class="auth_main_container">
        <div class="auth_left_container" style="flex: 4;margin-top: 6rem;">
            <div class="register_form_container">
                <form action="/auth/login" method="post">
                    <p id="p_head">Sign in to Ask</p>
                    <p id="span_sub"><span >or use your email account:</span>  </p>
                    <div >
                        <p id="login_server_side_error_container" class="auth_error"></p>
                    </div>                    
                    <input class="input_style" type="email" id="LoginEmail" name="LoginEmail" placeholder="Email" value="<%=details.LoginEmail%>">
                    <input class="input_style" type="password" id="LoginPassword"name="LoginPassword" placeholder="Password" value="<%=details.LoginPassword%>">
                    <div class="invalid" id="retype_password_message" style="display: none;">
                        <span id="retype_password" >Password doesn't match</span>
                    </div>
                    <br>
                    <button class="btn btn_extend " type="submit">SIGN IN</button>
                </form>
                
            </div>
            
        </div>
        <div class="auth_right_container card_pattern">
            <div class="login_container">
                <p id="p_head_left">Hello, Friend!</p>
                <p id="span_sub_left">Enter your personal details and start journey with us</p>
                <a href="/auth/register"><button class="btn_outline btn_extend_left btn_slide_effect" >SIGN UP</button></a>
            </div>
            <div class="box_pattern">
                <div class="shape_lg"></div>
                <div class="shape_lg"></div>
                <div class="shape_lg"></div>
                
            </div>
            <div class="box_pattern">
                <div class="shape_md"></div>
                <div class="shape_md"></div>
                <div class="shape_md"></div>
                <div class="shape_md"></div>
            </div>
            <div class="box_pattern">
                <div class="shape_sm"></div>
                <div class="shape_sm"></div>
                <div class="shape_sm"></div>
                <div class="shape_sm"></div>
                <div class="shape_sm"></div>
            </div>
        </div>
        
    </div>
    <% if(error!='') {%>
        <script>
            document.getElementById("login_server_side_error_container").innerText="<%=error%>";
        </script>
    <%}%>  
    <script >
        var loginEmail=document.getElementById("LoginEmail");
        var loginPassword=document.getElementById("LoginPassword");

        loginEmail.onclick=()=>{
            document.getElementById("login_server_side_error_container").style.display="none";
        }
        loginPassword.onclick=()=>{
            document.getElementById("login_server_side_error_container").style.display="none";
        }


    </script>
</body>
</html>