
/* Auth CSS or login &register page CSS */
html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
}
.auth_main_container{
    display: flex;
    width: 100%;
    background-color: #fff;
    
    height: 100%;
}

.auth_left_container{
    flex: 3;
    /* height: 100vh; */
     /* padding-top: 5%; */
     /* border: 1px solid blue; */
}
.auth_right_container{
    flex: 3;
    /* border: 1px solid red; */
}
.background_image{
    background-image: url(/static/images/login_background_M.svg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: top;
  background-size:auto 100vh;
  
}

.card_pattern{
    background-image: linear-gradient(125deg,var(--purple)75%,
 #fff);
    width: 100%;
    
}
/* ------------ */
p{
    margin:0px 0px;
    
    /* font-size:2rem; */
    /* text-align: center; */
}
.register_form_container{
    text-align: center;
    flex: 1;
    /* border: 1px solid forestgreen; */
}
#p_head{
    font-size: 2.5rem;
    font-weight: bold;
    color:var(--purple);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#span_sub{
    font-size: 1rem;
    margin: 1em 0px 1em 0px;
    color: hsl(0,0%,75%,0.5);
}
#p_head_left{
    font-size: 2.75rem;
    font-weight: bold;
    color:#fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#span_sub_left{
    font-size: 1.5rem;
    margin: 1em 20% 1em 20%;
    color: #fff;
}
.auth_error{
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
    display: block;
}
.btn_extend{
    width: 25%;
    margin-top: 1em;
    border-radius: 2rem;
    /* border:0.1rem solid hsl(140,40%,55%); */
    background:linear-gradient(to right, var(--purple-light) 50%,var(--purple) 50%);
    background-size:200% 100%;
    background-position: right;
    transition: .5s;
}
.btn_extend:hover{
    background-position: left;
}
/* form validation */
.password_message{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 25%;
    display:none;
    
}
.password_message span{
padding-left: 0.5em;
padding-right: 0.5em;    
}
.invalid{
    color: red;
}

.valid{
    color:hsl(140,40%,55%)
}

/* left container */
.login_container{
    /* margin-top: 7rem; */
    text-align: center;
    
   padding: 1rem;
}
.box_pattern{
    display: flex;
    flex-direction: row;
    position: fixed;
   bottom:0px; 
   /* width: 30%; */
}
.shape_sm{
   flex: 1;
   height: 6rem;
   width: 5rem;
   opacity: 80%;
  background-color:var(--purple);
  transform: rotate(5deg);
  border-top: 0.2rem solid var(--purple-light);
  border-right: 0.2rem solid var(--purple-light);
 
}
.shape_md{
   flex: 1;
   height: 9rem;
   width: 6rem;
   opacity: 50%;
  background-color:var(--purple);
  transform: rotate(5deg);
  border-top: 0.2rem solid var(--purple-light);
  border-right: 0.2rem solid var(--purple-light);  
}
.shape_lg{
   flex: 1;
   height: 12rem;
   width: 7rem;
   opacity: 20%;
  background-color:var(--purple);
  transform: rotate(5deg);
  border-top: 0.2rem solid var(--purple-light);
  border-right: 0.2rem solid var(--purple-light); 
}
a{
 text-decoration: none;
 color: #fff;

}
.btn_extend_left{
    width: 40%;
    margin-top: 1em;
    border-radius: 2rem;
    color: #fff;
    border: 0.1rem solid #fff;
    /* hover effect */
}
.btn_slide_effect{
    background:linear-gradient(to right,hsla(0, 100%, 100%,0.1) 50%,transparent 50%);
    background-size:200% 100%;
    transition: 0.5s ease-in-out;
    background-position: right;

}
.btn_slide_effect:hover{
   
    background-position: left;
}