body{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    background-image: url(/static/images/question_mark.svg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position:99% 10%;
    
}

.AskQ_root_container{
    margin-top:1%;
    /* width: 100%; */
   
    /* padding-left: 2%;
    padding-right: 2%;  */
    /* background-color: #fff; */
}

.AskQ_root_container div{
    /* text-align: center; */
    /* margin-right: 2%; */
}
#Q_title{

    height: 2rem;
    margin-bottom: 2rem;
}
#Q_Descript{
 
    resize:none ;
    margin-bottom: 1rem;
    height: 16rem;

}
#Q_tags{
    margin-bottom: 0px;
}
.input_style_extend_createQ{
    width:100% ;
    background-color: #fff;
}
/* .input_style_extend_createQ_2{
    width: 100%;
    background-color: #fff;
    flex: 1;
    margin-right: -2%;
    
} */
.tag_search_result{
    margin-top: 0.1em;
    display: none;
    flex-wrap: wrap;
}
.input_tag_container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
}
.Q_tags_dropdown{
    width: 100%;
    margin-bottom: 0px;
    cursor: pointer;
    /* padding-left: 1rem; */
    
    /* color: var(--purple);
    border: none;
    outline:0.1rem solid var(--border-gray);
    /* transition-delay: 1s; */
    /* transition: 0.5s;  */
    
}

.Q_tags_dropdown_content{
    /* border: none; */
    border:0.1rem solid var(--purple);
    border-top: none;
    padding-left: 1rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    visibility: visible;
    /* align-content: space-between; */
}
.tag_dropdown_option{
    /* border:0.1rem solid var(--border-gray); */
    color: var(--dark-secondary);
    margin-block-start: 1em;
    margin-block-end: 1em;
    width:30%;
    height: auto;
    word-wrap: break-word;
    cursor: pointer;
    /* flex: 1 0 30%; */
}
.tag_dropdown_option:hover{
    color: var(--purple);
}
