h1{
    margin: 0px;
    
}
.head_container{
    display: flex;
    height: 5rem;
    flex-direction: row;
    
}
.logo{
    flex: 1;
    text-align: center;
    
}
.searchbar{
    flex: 3;
    /* margin-top: 1em; */
   text-align: center;
   
}
.searchID{
    
    padding: 0px;
    padding-left: 2em;
    height: 3rem;
   border: none;
   width: 100%;
   background-color: var(--bg-color-light);
   color: var(--dark-secondary-2);
   border-radius: var(--border-radius);
}
.searchID:focus{
   outline: 0.1em solid var(--dark-secondary-2);

}
.searchID::placeholder{
    color: var(--dark-secondary);
    
}
.auth{
    flex:1;
    padding-left: 2em;
    text-align: right;
}
.btn_auth{

    height: 3rem;
    width: 5rem; 
   
    margin-right: 1em;
   padding: 0em 0em !important;

    /* align-self:center; */
}