.leftSideNavBar{
    height:93vh;
    display: flex;
    flex-direction: column;
    /* border: var(--border-line) solid var(--border-gray); */
    border-radius: var(--border-radius);
    /* position:sticky;
    top: 5rem; */
    /* overflow-y: auto; */
}

.nav_item{
    display: flex;
    /* border:var(--border-line) solid var(--border-gray);  */
    border-radius: var(--border-radius);
}

.left_border{
    height: auto;
    width: var(--gap);
    border-radius: var(--border-radius);
    background-color: transparent;
}
/* .hide_border{
    background-color: var(--purple-light-1);
} */
.left_nav_btn_outline{
   flex: 1;
    padding: var(--gap) var(--gap);
   font-size: medium;
   text-decoration: none;
   text-align: left;
   cursor: pointer;
    border: none;
    border-radius: var(--border-radius);
    background-color: transparent;
    color: var(--dark-secondary-2);
}
.left_nav_active{

   background-color: var(--purple-light-1);
    
    
}
.left_nav_active button{
    color: var(--purple);
}
.left_nav_active div{
    background-color: var(--purple);
}

/* @keyframes left_nav-loading {
    0%{
        border-bottom: var(--border-line-bolder) solid var(--blue);
    }
    100%{
         border-bottom: var(--border-line-bolder) solid var(--purple);
     }
} */
.left_nav_btn_outline:not(.left_nav_active){
   
}