body{
    margin:0 auto;
    /* padding-bottom: 10px; */
    background-color: var(--bg-color-light);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif'; */
    font-family: em,BlinkMacSystemFont,"Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

.top_root_container{
    position:sticky;
    width: 100%;
    top: 0px;
    margin:0 auto;
    background-color: #fff;
    box-shadow:var(--shadow-effect);
             
}
.bottom_root_container{

    width: 100%;
    display: flex;
    padding-top: 1%;
}
.left_container{
    flex: 20%;
    padding:0% 1% 0% 2%;
    /* border: 0.1rem solid lightgreen; */
}
.middle_container{
    flex: 60%;
    padding:0% 1% 0% 1%;
    /* border: 0.1rem solid var(--border-gray); */
    /* background-color: #f1f2f2; */
}
.right_container{
    flex: 20%;
    /* background-color: #f1f2f2; */
    /* height: 100vh; */
    padding:0% 2% 0% 1%;
    /* border: 0.1rem solid lightblue; */
   
}